.App {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/016/952/original/day-background.jpg?1631320493);
  background-size: cover;
  padding: 80px 20px;
}

.App .container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  color: #013d58;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 900px;
  max-width: 100%;
  padding: 20px 50px;
}

@media (max-width: 768px) {
  .App .container {
    padding: 20px 20px;
  }
}
