.Weather .weather {
  font-family: sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.Weather h1 {
  font-family: "Staatliches", cursive;
  font-size: 68px;
  transition: all 200ms ease-in-out;
}
.Weather h1:hover {
  color: #72b9d5;
}
.Weather h2 {
  font-family: "Staatliches", cursive;
  font-size: 18px;
  color: #013d58;
}
.Weather h3 {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

.Weather .headings {
  padding-top: 20px;
  text-align: left;
}

.Weather .current-details {
  font-family: "Karla", sans-serif;
  padding-right: 50px;
  padding-top: 50px;
  text-align: right;
}

.Weather .col-4 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.Weather .row {
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
}

.Weather .current-temp,
.wind-speed,
.humidity {
  font-weight: bold;
}

.Weather hr {
  color: #d8d8d8;
  display: block;
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 50px;
}

.Weather form {
  display: flex;
  font-family: "Karla" cursive;
  font-size: 16px;
  padding: 6px 0px;
  margin-top: 30px;
}

.Weather .search-bar {
  background: #f7f9fc;
  border-color: #93b8db;
  border-radius: 4px;
  border-style: solid 1px;
  height: 40px;
  margin: 5px;
  opacity: 0.5;
  padding: 15px 20px;
  transition: all 200ms ease-in-out;
  max-width: 620px;
}

.Weather .search-bar:hover {
  background: #ffffff;
}

.Weather .select {
  align-items: center;
  background-color: #027ed4;
  width: 85px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  height: 40px;
  justify-content: center;
  margin: 5px;
  opacity: 0.8;
  transition: 500ms;
}

.Weather .select:hover {
  background-color: #93b8db;
}

.Weather .select:focus {
  outline: none;
}

@media (max-width: 768px) {
  .Weather h1 {
    font-size: 48px;
  }

  .Weather h2 {
    font-size: 18px;
  }

  .Weather h3 {
    font-size: 12px;
  }

  .Weather .current-details {
    padding: 20px 0;
    font-size: 12px;
    text-align: center;
  }

  .Weather .headings {
    text-align: center;
  }

  .Weather form,
  .Weather .select {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .Weather .search-bar {
    max-width: 200px;
  }
}
